@mixin shadow {
    box-shadow: 1px 1px 4px silver;
    
}

@keyframes checkbox-appear {
    from {
        right: -25%;
    }
    to {
        right: 0 ;
    }
    
}

@keyframes rotate-360 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
    
}
@keyframes reduce-width {
    from {
        width: 100%;
    }
    to{ 
        width: 70%;
    }

    
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin:0;
  }

  header {
    
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  &>a 
  {
      text-decoration: none;
      color: black;

  }

  &> img {
    
    height: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            padding: 20px 50px 20px 20px;
    width: auto;
  }
}

  .restaurantimg
  {
      width: 100%;
      position: absolute;
      top: 80px;
      left: 0;
      height: 200px;
  }
  .restaurantimg>img
  {
      width: 100%;
      height: 100%;
  }
  .menu
  {
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 20px;
      border-radius: 15px 15px 0 0;
      width: auto;
      background: #f8f8f8;
      margin-top: 160px;
      position: relative;
      z-index: 1;
  }
  .restaurantname
  {
      font-family: 'Shrikhand',cursive;
      display: flex;
      align-items: center;
      font-size: 0.75em;
      position: relative;
  }
  .heart
  {
      position: absolute;
      top: 20%;
      right: 3%;
      font-size: 25px;
      width: 25px;
      height: 25px;
      .empty
      {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 20%;
          left: 0;
          right: 5%;
          opacity: 1;
          
      }
      .full
      {
          margin: 0;
          opacity: 0;
          background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          
      }
      &:hover,&:active
      {
        .empty
            {
                transition: opacity 1s;
                opacity: 0;
            }
        .full
            {   
              transition: opacity 1s;
              opacity: 1;
              
             }
      }
  }    
.choix
{
font-family: 'Roboto', sans-serif;
border-bottom: 3px solid #99E2D0;
width: 35px;
}

.menu-ctnr
{
    list-style-type: none;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    li {
        background-color: white;
        margin: 15px auto;
        width: 90%;
        max-width: 500px;
        padding: 10px;
        border-radius: 15px;
        @include shadow ;
        position: relative;
        overflow: hidden;
        .description-ctnr
        {
            h2,p {
                width: 85%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 15px;
            }
            h2
            {
                font-weight: 700;
            }
            .prix
            {
                text-align: right;
                margin-top: -35px;
                font-size: 15px;
                font-weight: 700;
            }
        &:hover
        {
            animation: reduce-width 0.5s linear forwards;
        }
        }

        .box{
            background-color: #99E2D0;
            position: absolute;
            height: 100%;
            top: 0;
            width: 25%;
            right: -25%;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                color: white;
                font-size: 25px;
            }
        }
        &:hover{
            .box{
                animation: checkbox-appear 0.5s linear forwards;

                i{
                    animation: rotate-360 0.5s linear forwards;
                }
            }
        }
    }
 }

 .starter1
{
    animation: starter 1s 1s forwards;
    opacity: 0;
    @keyframes plat {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }       
}
.starter2
    {
       animation: starter 1s 2s forwards;
       opacity: 0;
       @keyframes starter {
           from {
               opacity: 0;
           }
           to {
               opacity: 1;
           }
    }
}
.starter3
       {
          animation: starter 1s 3s forwards;
          opacity: 0;
          @keyframes plat {
              from {
                  opacity: 0;
              }
              to {
                  opacity: 1;
              }
          }
        }
.starter4
        {
           animation: starter 1s 4s forwards;
           opacity: 0;
           @keyframes plat {
               from {
                   opacity: 0;
               }
               to {
                   opacity: 1;
               }
           }
         }
 .plat1
 {
    animation: plat 5s 5s forwards;
    opacity: 0;
    @keyframes plat {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
     
    }
    .plat2
    {
       animation: plat 5s 6s forwards;
       opacity: 0;
       @keyframes plat {
           from {
               opacity: 0;
           }
           to {
               opacity: 1;
           }
       }
        
    }
.plat3
{
    animation: plat 5s 7s forwards;
    opacity: 0;
    @keyframes plat {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
.plat4
{
    animation: plat 5s 8s forwards;
    opacity: 0;
    @keyframes plat {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
.desert1
{
    animation:  desert 8s 8s forwards;
    opacity: 0;
    @keyframes desert {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}.desert2
{
    animation: desert 8s 9s forwards;
    opacity: 0;
    @keyframes desert {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
.desert3
{
    animation: desert 8s 10s forwards;
    opacity: 0;
    @keyframes desert {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
.desert4
{
    animation: desert 8s 11s forwards;
    opacity: 0;
    @keyframes desert {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
 .exploration_button
 {
     
     border-radius: 25px;
     background: linear-gradient(#9356DC , #FF79DA);
     padding: 5px;
     font-size: 15px;
     width: 150px;
     height: 20px;
     justify-content: center;
     margin-right: auto;
     margin-left: auto;
     text-align: center;
 &:hover
 {
     filter:brightness(1.20);
     box-shadow: 2px 2px 4px grey;

 }
     >a
     {
         text-decoration: none;
     color: #fff;
     font-size: 15px;
     }
     >a:hover 
     {
         text-decoration: none;
         color:#fff;
     }
     
 }
 footer
{
    background: #333333;
    color: #fff;
    padding: 10px;
    >p
    {
        margin-top: 0;
    }
    .logo
    {
        font-family: 'Shrikhand',cursive;  
    width: 150px;  }
    i 
    {
        padding-right: 5px;
    }
    .proposition
    {
        display: flex;
        align-items: center;
        
        >p
        {
            margin: 0;
            padding-left: 5px;
        }
    }
    .partnership
    {
        display: flex;
        align-items: center;
    }
    .contactus>a 
    {
        text-decoration: none;
        color: #fff;
        &:hover{
            text-decoration: none;
            background-color: inherit;
            color: #fff;
        }
    }
}
       

@media (min-width: 425px) and (max-width: 768px)
{
    .restaurantimg
  {
      width: 100%;
      max-width: 600px;
      position: absolute;
      top: 80px;
      left: 10%;
      right: 10%;
      height: 240px;
  }

  .restaurantname
  {
      align-items: center;
      justify-content: space-around;
  }

  
  .choix
  {
      text-align: center;
      justify-content: center;
      width: 100%;
      border-bottom: 10px solid #99E2D0;
      font-size: 25px;
  }
  .menu-ctnr
  {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    li
     {
         width: 300px;
         margin: 20px;
     }
  }

  footer
   {
       .logo
       {
            width: 100%;
                >h3
                    {
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        margin: 0;
                    }
        }
        
        .footeroption
        {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
   }  
  
}

@media (min-width:769px)
{   
    body
    {
        width: auto;
    }

  .restaurantname
  {
      align-items: center;
      justify-content: space-around;
      font-size: 25px;

      .heart
      {
          font-size: 40px;
          top: 30%;
          right: 10%;
          .empty
          {
              font-size: 40px;
          }
          .full
          {
              font-size: 40px;
          }
      }
  }


  .choix
  {
      text-align: center;
      justify-content: center;
      width: 100%;
      border-bottom: 10px solid #99E2D0;
      font-size: 25px;
  }
  .menu-ctnr
  {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    li
     {
         width: 400px;
         margin: 20px;
     }
     
  }
  .exploration_button
     {
         height: 50px;
         width: 300px;
         a
         {
             font-size: 35px;
         }
     }

  footer
   {
       .logo
       {
            width: 100%;
                >h3
                    {
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        margin: 0;
                    }
        }
        
        .footeroption
        {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
   }  
}